{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">
    {% if notification %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ notification }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    <div class="col-auto mr-auto">
      <h3>Täytteet</h3>
    </div>
    <div class="col-auto">
      <p>
        <a class="btn btn-primary" href="{{ url_for('toppings_form') }}" role="button"><i class="fas fa-plus"></i> Lisää täyte</a>
      </p>
    </div>
  </div>
  <div class="row bg-white p-4 rounded border">
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Nimi</th>
            <th></th>
          </tr>
        </thead>
        {% for topping in toppings %}
        <tr class="border-top">
          <td class="align-middle"><a class="text-dark text-capitalize" title="{{ topping.name }}" href="{{ url_for('toppings_get_item', topping_id=topping.id) }}">{{ topping.name }}</a></td>
          <td class="text-right">
            <a class="btn btn-sm btn-outline-info" role="button" title="Muokkaa" href="{{ url_for('toppings_get_item', topping_id=topping.id) }}"><i class="fas fa-pen"></i></a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}