{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-auto mr-auto">
      <h3>Täytteet</h3>
    </div>
    <div class="col-auto">
      <p>
        <a class="btn btn-primary" href="{{ url_for('toppings_form') }}" role="button"><i class="fas fa-plus"></i> Lisää täyte</a>
      </p>
    </div>
  </div>
  <div class="row bg-white p-4 rounded border">
    <div class="table-responsive">
      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th>Nimi</th>
            <th width="5%"></th>
            <th width="5%"></th>
          </tr>
        </thead>
        {% for topping in toppings %}
        <tr class="border-top">
          <td>{{ topping.name }}</td>
          <td>
            <a class="btn btn-sm btn-outline-info" role="button" title="Muokkaa" href="{{ url_for('toppings_get_item', topping_id=topping.id) }}"><i class="fas fa-pen"></i></a>
          </td>
          <td>
            <form method="POST" action="{{ url_for('toppings_delete_item', topping_id=topping.id) }}">
                <button class="btn btn-sm btn-outline-danger" type="submit" title="Poista"><i class="far fa-trash-alt"></i></button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}