{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-6 bg-white p-4 rounded border">
      <div class="row mb-3">
        <div class="col-auto mr-auto">
          <h3>Täyte</h3>
        </div>
        <div class="col-auto">
          <a class="btn btn-sm btn-light" href="{{ url_for('toppings_index') }}" role="button"><i class="fas fa-times"></i></a>
        </div>
      </div>
      {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <form class="py-3"  method="POST" action="{{ url_for('toppings_set_item', topping_id=topping.id) }}">
        <div class="form-group">
          {{ form.name.label }}
          {{ form.name(value=topping.name) }}
        </div>
        <button type="submit" class="btn btn-success btn-block mt-4">Tallenna täyte</button>
      </form>
      <hr>
      <h6>Poista tämä täyte</h6>
      <p><small>Mikäli poistat tämän täytteen, sitä ei voi enää palauttaa.</small> </p>
      <button type="button" class="btn btn-outline-danger btn-block" data-toggle="modal" data-target="#exampleModal"><i class="far fa-trash-alt"></i> Poista täyte</button>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Varoitus!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Haluatko varmasti poistaa tämän täytteen:</p>
          <h5>{{ topping.name }}</h5>
        </div>
        <div class="modal-footer">
          <form method="POST" action="{{ url_for('toppings_delete_item', topping_id=topping.id) }}">
            <button class="btn btn-danger btn-block" type="submit" title="Poista">Kyllä, poista täyte</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}