{% extends "layout.html" %}

{% block body %}
  <div class="jumbotron card card-image" style="background-image: url(https://images.unsplash.com/photo-1531914082256-1b9047242426?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2549&q=80); background-size: cover; background-position: center;">
    <div class="text-white text-center py-5 px-4">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></h2>
        <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <a href="#" class="btn btn-lg btn-info"><i class="fas fa-pizza-slice"></i> Lorem ipsum</a>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    {% for pizza in pizzas %}
    <div class="col mb-4">
      <div class="card h-100">
        <h5 class="card-header text-capitalize bg-white">{{ pizza.name }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ pizza.price }} €</h5>
          <p class="card-text text-capitalize">
            {% for topping in pizza.toppings %}
              {{ topping.name }}{% if not topping == pizza.toppings[-1] %}, {% endif %}
            {% endfor %}
          </p>
        </div>
        <div class="card-footer bg-transparent border-light">
          <button class="btn btn-info btn-block"><i class="fas fa-cart-plus"></i> Tilaa</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

  <h2>
    Ananas Pizzat
  </h2>
  {% if pineapplePizzas %}
    <table class="table">
        {% for pizza in pineapplePizzas %}
        <tr>
          <td>{{ pizza.name }}</td>
        </tr>
        {% endfor %}
    </table>
  {% endif %}

{% endblock %}

