{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    {% for pizza in pizzas %}
    <div class="col mb-4">
      <div class="card h-100">
        <h5 class="card-header text-white mahogany">{{ pizza.name }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ pizza.price }} €</h5>
          <p class="card-text">
            {% for topping in pizza.toppings %}
              {{ topping.name }} 
            {% endfor %}
          </p>
        </div>
        <div class="card-footer bg-transparent border-light">
          <button class="btn btn-outline-secondary btn-block"><i class="fas fa-cart-plus"></i> Tilaa</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

  <h2>
    Ananas Pizzat
  </h2>
  {% if pineapplePizzas %}
    <table class="table">
        {% for pizza in pineapplePizzas %}
        <tr>
          <td>{{ pizza.name }}</td>
        </tr>
        {% endfor %}
    </table>
  {% endif %}

{% endblock %}

