{% extends "layout.html" %}

{% block body %}
<div class="jumbotron card card-image" style="background-image: url('./static/img/texture.jpg'); background-size: cover; background-position: center;">
    <div class="text-white text-center py-5 px-4">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Herkullinen Special Pizza avotuliuunissa valmistettuna</strong></h2>
        <p class="mx-5 mb-5">Päivän erikoistarjous neljällä täytteellä nyt vain 10 €</p>
        <a href="#" class="btn btn-lg btn-info"><i class="fas fa-pizza-slice"></i> Tilaa Special</a>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    {% for pizza in pizzas %}
    <div class="col mb-4">
      <div class="card h-100">
        <h5 class="card-header text-capitalize bg-white">{{ pizza.name }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ pizza.price }} €</h5>
          <p class="card-text text-capitalize">
            {% for topping in pizza.toppings %}
              {{ topping.name }}{% if not topping == pizza.toppings[-1] %}, {% endif %}
            {% endfor %}
          </p>
        </div>
        <div class="card-footer bg-transparent border-light">
          <a class="btn btn-info btn-block" href="{{ url_for('orders_form', pizza_id=pizza.id) }}" role="button"><i class="fas fa-cart-plus"></i> Tilaa</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

  <h2>
    Ananas Pizzat
  </h2>
  {% if pineapplePizzas %}
    <table class="table">
        {% for pizza in pineapplePizzas %}
        <tr>
          <td>{{ pizza.name }}</td>
        </tr>
        {% endfor %}
    </table>
  {% endif %}

{% endblock %}

