<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Pizzeria</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head> 
    <body class="bg-light">
      <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-danger flex-row">
          {% if current_user.admin %}
          <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-cog"></i>
          </button>
          {% endif %}
          <a class="navbar-brand mr-auto pizzeria-logo" href="{{ url_for('index') }}">Pizzeria</a>
          <ul class="navbar-nav flex-row mr-lg-0">
            {% if current_user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle pr-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user-circle"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="position: absolute !important;">
                  <small><a class="dropdown-item disabled" href="#"> Asiakastiedot</a></small>
                  <div class="dropdown-divider"></div>
                  <span class="dropdown-item"><small>Kirjautuneena: {{ current_user.name }} | <a class="text-dark" href="{{ url_for('auth_logout') }}"><strong>Kirjaudu ulos</strong></a></small></span>
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link pr-2" href="{{ url_for('auth_login') }}"><i class="fas fa-user-circle"></i> Kirjaudu sisään</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link px-2 disabled" href="#"><i class="fas fa-shopping-cart"></i></a>
            </li>
          </ul>
      </nav>
      {% if current_user.admin %}
        <nav class="navbar navbar-dark bg-dark navbar-expand-md flex-sm-row py-0">
          <div class="collapse navbar-collapse py-1" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('toppings_index') }}"><i class="fas fa-pepper-hot"></i> Täytteet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pizzas_index') }}"><i class="fas fa-pizza-slice"></i> Pizzat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_index') }}"><i class="fas fa-user"></i> Käyttäjät</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('orders_index') }}"><i class="fas fa-cube"></i> Tilaukset</a>
              </li>
            </ul>
          </div>
        </nav>
      {% endif %}
      </header>

      <main role="main" class="container mt-5 mb-5">
        {% block body %}
          <p>
            Content.
          </p>
        {% endblock %}
      </main>

      <footer class="text-muted pt-4 pb-4">
        <div class="container">
          <hr>
          <div class="row">
            <div class="col-6 col-md-4">
              <nav class="nav flex-column">
                <h6 class="text-dark text-uppercase pl-3"><small>Pizzeria</small></h6>
                <small><a class="nav-link text-dark" href="{{ url_for('index') }}">Etusivu</a></small>
                <small><a class="nav-link text-dark" href="{{ url_for('auth_login') }}">Kirjaudu sisään</a></small>
                <small><a class="nav-link text-dark" href="{{ url_for('auth_signup') }}">Luo tili</a></small>
                <small><a class="nav-link text-muted disabled" href="#">Tilaus</a></small>
              </nav>
            </div>
            {% if current_user.admin %}
              <div class="col-6 col-md-4">
                <nav class="nav flex-column">
                  <h6 class="text-dark text-uppercase pl-3"><small>Ylläpito</small></h6>
                  <small><a class="nav-link text-dark" href="{{ url_for('pizzas_index') }}">Pizzat</a></small>
                  <small><a class="nav-link text-dark" href="{{ url_for('toppings_index') }}">Täytteet</a></small>
                  <small><a class="nav-link text-dark" href="{{ url_for('user_index') }}">Käyttäjät</a></small>
                  <small><a class="nav-link text-dark" href="{{ url_for('orders_index') }}">Tilaukset</a></small>
                </nav>
              </div>
            {% endif %}
            <div class="col-12 col-md-4">
              <nav class="nav flex-column ml-3 ml-md-0 pt-4 pt-md-0">
                <h6 class="text-dark text-uppercase mb-3"><small>Tietoa sivustosta</small></h6>
                <p><small>Kurssisivu: <a class="text-dark" href="https://materiaalit.github.io/tsoha-20/">Tietokantasovellus</a></small></p>
                <p><small>Github: <a class="text-dark" href="https://github.com/juissijohtaja/Pizzapalvelu">Pizzapalvelu</a></small></p>
                <p><small>Kuvat: <a class="text-dark" href="https://unsplash.com/">Unsplash</a></small></p>
              </nav>
            </div>
          </div>
        </div>
      </footer>

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script>

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

        // Select option disabler
        $('select').change(function() {
          var myOpt = [];
          $("select").each(function () {
              myOpt.push($(this).val());
          });
          $("select").each(function () {
              $(this).find("option").prop('hidden', false);
              var sel = $(this);
              $.each(myOpt, function(key, value) {
                  if((value != "") && value != "0" && (value != sel.val())) {
                      sel.find("option").filter('[value="' + value +'"]').prop('hidden', true);
                  }
              });
          });
        });

        // Topping1 disabler
        $("#topping1 option:first").attr("disabled", "true");

      </script>
    </body>
  </html>