<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Pizzapalvelu</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    
    <body>
      <ul id="menu">
        <li><a href="/">Etusivu</a></li>
        {% if current_user.username == "juissi" or current_user.username == "teppo" %}
          <li style="float:right"><a href="{{ url_for('toppings_index') }}">Täytteet</a></li>
          <li style="float:right"><a href="{{ url_for('user_index') }}">Käyttäjät</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
          <li style="float:right"><a href="{{ url_for('user_index') }}{{ current_user.id }}">Terve, {{ current_user.name }}</a></li>
          <li style="float:right"><a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a></li>
        {% else %}
          <li style="float:right"><a href="{{ url_for('auth_login') }}">Kirjaudu</a></li>
          <li style="float:right"><a href="{{ url_for('auth_signup') }}">Rekisteröidy</a></li>
        {% endif %}
      </ul>

      
      {% block body %}
      <p>
	      Content.
      </p>
      {% endblock %}
    </body>
  </html>