{% extends "layout.html" %}

{% block body %}
<h3>Käyttäjät</h3>

  <table>
    <tr>
      <th>Nimi</th>
      <th>Puhelinnumero</th>
      <th>Osoite</th>
      <th>Käyttäjätunnus</th>
      <th>Salasana</th>
      <th></th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.password }}</td>
      <td><button><a href="{{ url_for('user_get_item', user_id=user.id) }}">Muokkaa</a></button></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}