{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-auto mr-auto">
      <h3>Käyttäjät</h3>
    </div>
    <div class="col-auto">
      <p>
        <a class="btn btn-primary" href="{{ url_for('auth_signup') }}" role="button"><i class="fas fa-plus"></i> Lisää käyttäjä</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nimi</th>
            <th>Puhelinnumero</th>
            <th>Osoite</th>
            <th>Käyttäjätunnus</th>
            <th width="5%"></th>
            <th width="5%"></th>
          </tr>
        </thead>
        {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.username }}</td>
            <td>
              <a class="btn btn-sm btn-outline-secondary" role="button" title="Muokkaa" href="{{ url_for('user_get_item', user_id=user.id) }}"><i class="fas fa-pen"></i></a>
            </td>
            <td>
              <form method="POST" action="{{ url_for('user_delete_item', user_id=user.id) }}">
                <button class="btn btn-sm btn-outline-danger" type="submit" title="Poista"><i class="far fa-trash-alt"></i></button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}