{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-lg-8 bg-white p-4 rounded border">
      <div class="row mb-3">
        <div class="col-auto mr-auto">
          <h3>Asiakastili</h3>
        </div>
        <div class="col-auto">
          <a class="btn close" href="{{ url_for('index') }}" role="button"><span aria-hidden="true">&times;</span></a>
        </div>
      </div>
      <h5 class="mb-4">Omat tietoni</h5>
      <p><i class="fas fa-user"></i> {{ user.name }}</p>
      <p><i class="fas fa-mobile-alt"></i> {{ user.phone }}</p>
      <p><i class="fas fa-home"></i> {{ user.address }}</p>
      <hr>
      <h5 class="my-4">Tilaukset</h5>
      <div class="row row-cols-1 row-cols-md-2">
        {% for order in orders %}
          <div class="col mb-4">
            <div class="card h-100">
              <h5 class="card-header text-capitalize bg-white">
                {% for pizza in order.pizzas %}
                    {{ pizza.name }},
                    {{ pizza.price }} €
                  {% endfor %}
              </h5>
              <div class="card-body">
                <p class="card-text text-capitalize">
                  Oregano: 
                  {% if order.oregano %}
                  <i class="far fa-check-circle text-success"></i>
                  {% else %}
                    <i class="far fa-times-circle text-danger"></i>
                  {% endif %}
                </p>
                <p class="card-text text-capitalize">
                  Valkosipuli:
                  {% if order.garlic %}
                  <i class="far fa-check-circle text-success"></i>
                  {% else %}
                    <i class="far fa-times-circle text-danger"></i>
                  {% endif %}
                </p>
                <p>Toimitustapa: {{ order.delivery }}</p>
                <p>
                  Tilaus vastaanotettu: 
                  {% if order.received %}
                  <i class="far fa-check-circle text-success"></i>
                  {% else %}
                    <i class="far fa-times-circle text-danger"></i>
                  {% endif %}
                </p>
                <p>
                  Tilaus toimitettu: 
                  {% if order.delivered %}
                  <i class="far fa-check-circle text-success"></i>
                  {% else %}
                    <i class="far fa-times-circle text-danger"></i>
                  {% endif %}
                </p>
              </div>
              <div class="card-footer bg-transparent border-light text-muted">
                <small>
                  {% if order.received or order.delivered %}
                    Päivitetty: {{ order.dateTimeUpdated }}<br>
                  {% endif %}
                  Tilattu: {{ order.dateTimeOrdered }}
                </small>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}