{% extends "layout.html" %}

{% block body %}

<h3>Muokkaa käyttäjää</h3>
{{ error }}
<form method="POST" action="{{ url_for('user_set_item', user_id=user.id) }}">
  <table>
    <tr>
      <th>Käyttäjä</th>
      <th></th>
    </tr>
    <tr>
      <td>Nimi</td>
      <td>
          <input type="text" name="name" value="{{ user.name }}" />
      </td>
    </tr>
    <tr>
      <td>Puhelinnumero</td>
      <td>
          <input type="text" name="phone" value="{{ user.phone }}" />
      </td>
    </tr>
    <tr>
      <td>Osoite</td>
      <td>
          <input type="text" name="address" value="{{ user.address }}" />
      </td>
    </tr>
    <tr>
      <td>Käyttäjätunnus</td>
      <td>
          <input type="text" name="username" value="{{ user.username }}" />
      </td>
    </tr>
    <tr>
      <td>Salasana</td>
      <td>
          <input type="text" name="password" value="{{ user.password }}" />
      </td>
    </tr>
  </table>
  <button><a href="{{ url_for('user_index') }}">Peruuta</a></button>
  <input type="submit" value="Tallenna"/>
</form>

{% endblock %}