{% extends "layout.html" %}

{% block body %}

<div class="container">
  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}
  <div class="row mb-5">
    <div class="col-md-6">
      <h3>Muokkaa käyttäjää</h3>
      <form method="POST" action="{{ url_for('user_set_item', user_id=user.id) }}">
        <div class="form-group">
          {{ form.name.label }}
          {{ form.name(value=user.name) }}
        </div>
        <div class="form-group">
          {{ form.phone.label }}
          {{ form.phone(value=user.phone) }}
        </div>
        <div class="form-group">
          {{ form.address.label }}
          {{ form.address(value=user.address) }}
        </div>
        <div class="form-group">
          {{ form.username.label }}
          {{ form.username(value=user.username) }}
        </div>
        <div class="form-group">
          {{ form.password.label }}
          {{ form.password(value=user.password) }}
        </div>
        <button type="submit" class="btn btn-primary">Tallenna</button>
        <a class="btn btn-light" href="{{ url_for('user_index') }}" role="button">Peruuta</a>
      </form>
    </div>
  </div>

{% endblock %}