{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-6 bg-white p-4 rounded border">
      <div class="row mb-3">
        <div class="col-auto mr-auto">
          <h3>Käyttäjä</h3>
        </div>
        <div class="col-auto">
          <a class="btn close" href="{{ url_for('user_index') }}" role="button"><span aria-hidden="true">&times;</span></a>
        </div>
      </div>
      {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <form class="py-3" method="POST" action="{{ url_for('user_set_item', user_id=user.id) }}">
        <div class="form-group">
          {{ form.name.label }}
          {{ form.name(value=user.name) }}
        </div>
        <div class="form-group">
          {{ form.phone.label }}
          {{ form.phone(value=user.phone) }}
        </div>
        <div class="form-group">
          {{ form.address.label }}
          {{ form.address(value=user.address) }}
        </div>
        <div class="form-group">
          {{ form.username.label }}
          {{ form.username(value=user.username) }}
        </div>
        <div class="form-group">
          {{ form.password.label }}
          {{ form.password(value=user.password) }}
        </div>
        <button type="submit" class="btn btn-info btn-block mt-4">Tallenna käyttäjä</button>
      </form>
      <hr>
      <h6>Poista tämä käyttäjä</h6>
      <p><small>Mikäli poistat tämän käyttäjän, sitä ei voi enää palauttaa.</small> </p>
      <button type="button" class="btn btn-outline-danger btn-block" data-toggle="modal" data-target="#exampleModal"><i class="far fa-trash-alt"></i> Poista käyttäjä</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Varoitus!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Haluatko varmasti poistaa tämän käyttäjän:</p>
            <h5>{{ user.name }}</h5>
          </div>
          <div class="modal-footer">
            <form method="POST" action="{{ url_for('user_delete_item', user_id=user.id) }}">
              <button class="btn btn-danger btn-block" type="submit" title="Poista">Kyllä, poista käyttäjä</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}