{% extends "layout.html" %}
  
{% block body %}
<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-6 bg-white p-4 rounded border">
      <div class="row mb-3">
        <div class="col-auto mr-auto">
          <h3>Pizza</h3>
        </div>
        <div class="col-auto">
          <a class="btn close" href="{{ url_for('pizzas_index') }}" role="button"><span aria-hidden="true">&times;</span></a>
        </div>
      </div>
      {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <form class="py-3" novalidate method="POST" action="{{ url_for('pizzas_create') }}">
        <div class="form-group">
          {{ form.name.label }}
          {{ form.name }}
        </div>
        <div class="form-group">
          {{ form.price.label }}
          {{ form.price }}
        </div>
        <div class="form-group">
          {{ form.topping1.label }}
          {{ form.topping1 }}
        </div>
        <div class="form-group">
          {{ form.topping2.label }}
          {{ form.topping2 }}
        </div>
        <div class="form-group">
          {{ form.topping3.label }}
          {{ form.topping3 }}
        </div>
        <div class="form-group">
          {{ form.topping4.label }}
          {{ form.topping4 }}
        </div>  
        <button type="submit" class="btn btn-success btn-block mt-4">Lisää pizza</button>
      </form>
    </div>
  </div>
</div>  

{% endblock %}