{% extends "layout.html" %}
  
{% block body %}
<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-6 bg-white p-4 rounded border">
      <div class="row mb-3">
        <div class="col-auto mr-auto">
          <h3>Pizza</h3>
        </div>
        <div class="col-auto">
          <a class="btn close" href="{{ url_for('pizzas_index') }}" role="button"><span aria-hidden="true">&times;</span></a>
        </div>
      </div>
      {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <form class="py-3 needs-validation" novalidate method="POST" action="{{ url_for('pizzas_create') }}">
        <div class="form-group">
          {{ form.name.label }} <small class="text-muted align-top">*</small>
          {{ form.name }}
          <div class="invalid-feedback">
            Tarkista nimi (2-50 merkkiä)
          </div>
          {% if form.name.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.name.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.price.label }} <small class="text-muted align-top">*</small>
          {{ form.price }}
          <div class="invalid-feedback">
            Tarkista hinta (0-99)
          </div>
          {% if form.price.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.price.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.topping1.label }} <small class="text-muted align-top">*</small>
          {{ form.topping1 }}
          <div class="invalid-feedback">
            Valitse täyte
          </div>
          {% if form.topping1.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.topping1.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.topping2.label }}
          {{ form.topping2 }}
          {% if form.topping2.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.topping2.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.topping3.label }}
          {{ form.topping3 }}
          {% if form.topping3.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.topping3.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.topping4.label }}
          {{ form.topping4 }}
          {% if form.topping4.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.topping4.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <p><small class="text-muted">* Vaadittu tieto</small></p>
        <button type="submit" class="btn btn-info btn-block mt-4">Lisää pizza</button>
      </form>
      
    </div>
  </div>
</div>  
<script>
  document.getElementById('topping1').firstChild.setAttribute("disabled", "true");
</script>
{% endblock %}