{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-6 bg-white p-4 rounded border">
      <div class="row mb-3">
        <div class="col-auto mr-auto">
          <h3>Pizza</h3>
        </div>
        <div class="col-auto">
          <a class="btn close" href="{{ url_for('pizzas_index') }}" role="button"><span aria-hidden="true">&times;</span></a>
        </div>
      </div>
      {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <form class="py-3 needs-validation" novalidate method="POST" action="{{ url_for('pizzas_set_item', pizza_id=pizza.id) }}">
        <div class="form-group">
          {{ form.name.label }} <small class="text-muted align-top">*</small>
          {{ form.name(value=pizza.name) }}
          <div class="invalid-feedback">
            Tarkista nimi (2-50 merkkiä)
          </div>
        </div>
        <div class="form-group">
          {{ form.price.label }} <small class="text-muted align-top">*</small>
          {{ form.price(value=pizza.price) }}
          <div class="invalid-feedback">
            Tarkista hinta (0-99)
          </div>
        </div>
        <div class="form-group">
          {{ form.topping1.label }} <small class="text-muted align-top">*</small>
          {{ form.topping1 }}
          <div class="invalid-feedback">
            Valitse täyte
          </div>
        </div>
        <div class="form-group">
          {{ form.topping2.label }}
          {{ form.topping2 }}
        </div>
        <div class="form-group">
          {{ form.topping3.label }}
          {{ form.topping3 }}
        </div>
        <div class="form-group">
          {{ form.topping4.label }}
          {{ form.topping4 }}
        </div>  
        <button type="submit" class="btn btn-info btn-block mt-4">Tallenna pizza</button>
      </form>
      <hr>
      <h6>Poista tämä pizza</h6>
      <p><small>Mikäli poistat tämän pizzan, sitä ei voi enää palauttaa.</small> </p>
      <button type="button" class="btn btn-outline-danger btn-block" data-toggle="modal" data-target="#exampleModal"><i class="far fa-trash-alt"></i> Poista pizza</button>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Varoitus!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Haluatko varmasti poistaa tämän pizzan:</p>
          <h5>{{ pizza.name }}</h5>
        </div>
        <div class="modal-footer">
          <form method="POST" action="{{ url_for('pizzas_delete_item', pizza_id=pizza.id) }}">
            <button class="btn btn-danger btn-block" type="submit" title="Poista">Kyllä, poista pizza</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('topping1').firstChild.setAttribute("disabled", "true");
</script>
{% endblock %}