{% extends "layout.html" %}

{% block body %}
{{ error }}
  <table>
    <tr>
      <th>Täyte</th>
      <th></th>
    </tr>
    <tr>
      <td>{{ tayte.name }}</td>
      <td>
        <form method="POST" action="{{ url_for('taytteet_set_name', tayte_id=tayte.id) }}">
          <input type="text" name="name"/>
          <input type="submit" value="Päivitä"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('taytteet_delete', tayte_id=tayte.id) }}">
            <input type="submit" value="Poista"/>
        </form>
    </td>
    </tr>
  </table>
{% endblock %}