@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

#hpjumbo {
  background-image: url('../img/texture.jpg'); 
  background-size: cover; 
  background-position: center;
}

.mahogany{
  background-color:#B82E2D;
}
.charade{
  background-color:#292937;
}
.waterloo{
  background-color:#867E99;
}
.pizzeria-logo{
  font-family: 'Slackey', cursive;
}