@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
body {
  background-color: #F5F4F1;
}

.my-red{
  background-color:#B82E2D;
}
.pizzeria-logo{
  font-family: 'Slackey', cursive;
}