@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

body {
  background-color: #F5F4F1;
}

.mahogany{
  background-color:#B82E2D;
}
.charade{
  background-color:#292937;
}
.waterloo{
  background-color:#867E99;
}
.pizzeria-logo{
  font-family: 'Slackey', cursive;
}