{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-auto mr-auto">
      <h3>Tilaukset</h3>
    </div>
  </div>
  <h5 class="mt-4 mb-3">Top 3 pizzat</h5>
  <div class="row bg-white p-4 my-4 rounded border">
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Nimi</th>
            <th>Tilausten määrä</th>
          </tr>
        </thead>
        {% for row in topPizzas %}
          <tr class="border-top">
            <td>{{ row.pizzaName }}</td>
            <td>{{ row.orderCount }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <h5 class="mt-4 mb-3">Tilatut pizzat</h5>
  <div class="row bg-white p-4 my-4 rounded border">
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Tilaus</th>
            <th>Hinta</th>
            <th class="text-center">Oregano</th>
            <th class="text-center">Valkosipuli</th>
            <th>Toimitustapa</th>
            <th class="text-center">Vastaanotettu</th>
            <th class="text-center">Toimitettu</th>
            <th>Tilaaja</th>
            <th></th>
          </tr>
        </thead>
        {% for order in orders %}
          <tr class="border-top">
            {% for pizza in order.pizzas %}
            <td>
              <a class="text-dark" title="{{ order.delivery }}" href="{{ url_for('orders_get_item', order_id=order.id) }}">{{ pizza.name }}</a>
            </td>
            <td>
              {{ pizza.price }} €
            </td>
            {% endfor %}
            <td class="text-center">
              {% if order.oregano %}
                <i class="far fa-check-circle text-success"></i>
              {% else %}
                <i class="far fa-times-circle text-danger"></i>
              {% endif %}
            </td>
            <td class="text-center">
              {% if order.garlic %}
                <i class="far fa-check-circle text-success"></i>
              {% else %}
                <i class="far fa-times-circle text-danger"></i>
              {% endif %}
            </td>
            <td>{{ order.delivery }}</td>
            <td class="text-center">
              {% if order.received %}
                <i class="far fa-check-circle text-success"></i>
              {% else %}
                <i class="far fa-times-circle text-danger"></i>
              {% endif %}
            </td>
            <td class="text-center">
              {% if order.delivered %}
                <i class="far fa-check-circle text-success"></i>
              {% else %}
                <i class="far fa-times-circle text-danger"></i>
              {% endif %}
            </td>
            <td>{{ order.account.name }}</td>
            <td class="text-right">
              <a class="btn btn-sm btn-outline-info" role="button" title="Muokkaa" href="{{ url_for('orders_get_item', order_id=order.id) }}"><i class="fas fa-pen"></i></a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}