{% extends "layout.html" %}
  
{% block body %}
<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-6 bg-white p-4 rounded border">
      <div class="row mb-3">
        <div class="col-auto mr-auto">
          <h3>Tilaus</h3>
        </div>
        <div class="col-auto">
          <a class="btn close" href="{{ url_for('index') }}" role="button"><span aria-hidden="true">&times;</span></a>
        </div>
      </div>
      {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <div class="bg-light px-4 pt-3 pb-2 border rounded">
        {% if not current_user.is_authenticated %}
          <div class="alert alert-danger" role="alert">
            Tehdäksesi tilauksen <a class="alert-link" href="{{ url_for('auth_login') }}">kirjaudu sisään</a>
          </div>
        {% else %}
          <address>
            <i class="fas fa-user-circle text-muted pr-1"></i> <strong>{{ current_user.name }}</strong><br>
            {{ current_user.address }}<br>
            {{ current_user.phone }}
          </address>
        {% endif %}
        <hr>
        <p><i class="fas fa-pizza-slice text-muted pr-1"></i> 
          {{ pizza.name }}
        </p>
      </div>
      <form class="py-3 needs-validation" novalidate method="POST" action="{{ url_for('orders_create') }}">
        <div class="form-group">
          {{ form.pizza_id(value=pizza.id) }}
          <div class="invalid-feedback">
            Tarkista pizza id
          </div>
          {% if form.pizza_id.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.pizza_id.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <p>Lisävalinnat</p>
        <div class="custom-control custom-switch mb-3">
          {{ form.oregano }}
          {{ form.oregano.label(class="custom-control-label") }}
          <div class="invalid-feedback">
            Tarkista oregano tila
          </div>
          {% if form.oregano.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.oregano.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <div class="custom-control custom-switch mb-3">
          {{ form.garlic }}
          {{ form.garlic.label(class="custom-control-label") }}
          <div class="invalid-feedback">
            Tarkista valkosipuli tila
          </div>
          {% if form.garlic.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.garlic.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <div class="form-group">
          <legend class="col-form-label">{{ form.delivery.label }}  <small class="text-muted align-top">*</small></legend>
          {% for subfield in form.delivery %}
            <div class="custom-control custom-radio">
              {{ subfield(class="custom-control-input", required="true") }}
              {{ subfield.label(class="custom-control-label") }}
              
              {% if subfield.data == form.delivery.choices[-1][0] %}
                <div class="invalid-feedback">
                  Valitse toimitustapa
                </div>
              {% endif %}
            </div>
          {% endfor %}
          
          {% if form.delivery.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.delivery.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <p><small class="text-muted">* Vaadittu tieto</small></p>
        {% if current_user.is_authenticated %}
          <button type="submit" class="btn btn-info btn-block mt-4">Lähetä tilaus</button>
        {% else %}
          <button type="submit" class="btn btn-info btn-block mt-4 disabled" disabled>Lähetä tilaus</button>
        {% endif %}
        
      </form>
      
    </div>
  </div>
</div>  

{% endblock %}