{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-6 bg-white p-4 rounded border">
      <div class="row mb-3">
        <div class="col-auto mr-auto">
          <h3>Tilaus</h3>
        </div>
        <div class="col-auto">
          <a class="btn close" href="{{ url_for('orders_index') }}" role="button"><span aria-hidden="true">&times;</span></a>
        </div>
      </div>
      {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <form class="py-3 needs-validation" novalidate method="POST" action="{{ url_for('orders_set_item', order_id=order.id) }}">
        <fieldset class="form-group">
          <legend class="col-form-label">{{ form.delivery.label }}  <small class="text-muted align-top">*</small></legend>
          {% for subfield in form.delivery %}
            <div class="form-check">
                  {{ subfield(class="form-check-input") }}
                  {{ subfield.label(class="form-check-label") }}
            </div>
          {% endfor %}
          <div class="invalid-feedback">
            Valitse toimitustapa
          </div>
          {% if form.delivery.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.delivery.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </fieldset>
        <div class="custom-control custom-switch">
          {{ form.received(checked=order.received) }}
          {{ form.received.label(class="custom-control-label") }} <small class="text-muted align-top">*</small>
          <div class="invalid-feedback">
            Tarkista vastaanotettu tila
          </div>
          {% if form.received.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.received.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <div class="custom-control custom-switch">
          {{ form.delivered(checked=order.delivered) }}
          {{ form.delivered.label(class="custom-control-label") }} <small class="text-muted align-top">*</small>
          <div class="invalid-feedback">
            Tarkista toimitettu tila
          </div>
          {% if form.delivered.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.delivered.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <button type="submit" class="btn btn-info btn-block mt-4">Tallenna tilaus</button>
      </form>
      <hr>
      <h6>Poista tämä tilaus</h6>
      <p><small>Mikäli poistat tämän tilauksen, sitä ei voi enää palauttaa.</small> </p>
      <button type="button" class="btn btn-outline-danger btn-block" data-toggle="modal" data-target="#exampleModal"><i class="far fa-trash-alt"></i> Poista tilaus</button>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Varoitus!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Haluatko varmasti poistaa tämän tilauksen:</p>
          <h5>{{ order.id }}</h5>
        </div>
        <div class="modal-footer">
          <form method="POST" action="{{ url_for('orders_delete_item', order_id=order.id) }}">
            <button class="btn btn-danger btn-block" type="submit" title="Poista">Kyllä, poista tilaus</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}