{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-6 bg-white p-4 rounded border">
      <h3 class="text-center">
        Kirjaudu sisään Pizzeriaan
      </h3>
      {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <form class="py-3 needs-validation" novalidate method="POST" action="{{ url_for('auth_login') }}" class="mt-4">
        <div class="form-group">
          {{ form.username.label }}
          {{ form.username }}
          <div class="invalid-feedback">
            Tarkista käyttäjätunnus (2-50 merkkiä)
          </div>
          {% if form.username.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.username.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label }}
          {{ form.password }}
          <div class="invalid-feedback">
            Tarkista salasana (2-50 merkkiä)
          </div>
          {% if form.password.errors %}
            <div class="alert alert-danger mt-2 py-0" role="alert">
              {% for error in form.password.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>  
          {% endif %}
        </div>
        <button type="submit" class="btn btn-info btn-block mt-4">Kirjaudu sisään</button>
      </form>
      <hr>
      <p class="text-center">Eikö sinulla ole käyttäjätiliä? <a href="{{ url_for('auth_signup') }}">Luo tili</a></p>
    </div>
  </div>
</div>
{% endblock %}